@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --white: #ffffff;
    --black: #000000;
    --dark: #161a24;
    --light-dark: #303a52;

    --linkedin: #0e76ae;
    --youtube: #e52d27;
    --portifolio: #574d90;
    
    --font: 'Roboto', sans-serif;

    --color-text: #000000;
    --bg-color: #ffffff;
    --bg-color2: #f2f2f2;
}

body{
    background: var(--bg-color);
    color: var(--color-text);
}
html{
    font-size: 62.5%;
}
main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

input{
    display: none;
}

#darkmodeToggle:checked + main{
    --color-text: #ffffff;
    --bg-color: #101113;
    --bg-color2: #12151d;

    background: var(--bg-color);
    color: var(--color-text);
    

}

#darkmodeToggle:checked + main .darkmodeLabel:after{
    content: " on";
   
}
.darkmodeLabel{
    cursor: pointer;
    font-size: 1.6rem;
    font-family: var(--font);
    font-weight: bold;
    /* margin: 100px 0 550px -100px; */
    padding: 8px;
   
}
.darkmodeLabel:after{
    content: " off";
}


main figure{
    display: flex;
    justify-content: center;
}
main figure img{
    border-radius: 5%;
    width: 300px;
    height: 300px;
}
main .container{
    /* border: 1px solid #666; */
    width: 40%;
}
main .container .row, main .container .row2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 16px 16px 0 0;
    width: 100%;
}
main .container .row .link, 
main .container .row2 .link, 
main .container .row .link2,
main .container .row2 .link2{
    width: 24rem;
    height: 6rem;
    /* border: 1px solid #00000028; */
    border: none;
    box-shadow: 4px 3px 4px #00000048;
    border-radius: 4px;
    background-color: var(--bg-color2);
    font-size: 2.4rem;
    font-family: var(--font);
    font-weight: bold;
    transition: .5s ease-in;
}
main .container .row .link:nth-child(1){
    color: var(--linkedin);
}
main .container .row .link2:nth-child(1){
    color: var(--black);
}
main .container .row2 .link:nth-child(1){
    color: var(--portifolio);
}
main .container .row2 .link2:nth-child(1){
    color: var(--youtube);
}
main .container .row .link:nth-child(1):hover{
    background-color: var(--linkedin);
    color: var(--white);
}
main .container .row .link2:nth-child(1):hover{
    background-color: var(--black);
    color: var(--white);
}
main .container .row2 .link:nth-child(1):hover{
    background-color: var(--portifolio);
    color: var(--white);
}
main .container .row2 .link2:nth-child(1):hover{
    background-color: var(--youtube);
    color: var(--white);
}

@media (max-width: 1255px){
    main .container .row .link, 
    main .container .row2 .link, 
    main .container .row .link2,
    main .container .row2 .link2{
        width: 22rem;
    }
}

@media (max-width: 1135px){
    main .container .row .link, 
    main .container .row2 .link, 
    main .container .row .link2,
    main .container .row2 .link2{
        width: 20rem;
}
}
@media (max-width: 1050px){
    main .container .row .link, 
    main .container .row2 .link, 
    main .container .row .link2,
    main .container .row2 .link2{
        width: 18rem;
}
}
@media (max-width: 930px){
    main .container .row .link, 
    main .container .row2 .link, 
    main .container .row .link2,
    main .container .row2 .link2{
        width: 16rem;
}
}
@media (max-width: 840px){
    main .container .row .link, 
    main .container .row2 .link, 
    main .container .row .link2,
    main .container .row2 .link2{
        width: 14rem;
}
}
@media (max-width: 725px){
    body{
        overflow: hidden;
    }
    main figure img{
        width: 180px;
        height: 180px;
    }
    main .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    main .container .row, main .container .row2{
        display: block;
    }

    main .container .row .link, 
    main .container .row2 .link, 
    main .container .row .link2,
    main .container .row2 .link2{
        width: 18rem;
        margin: 28px 0 28px 0;
        align-items: center;
}
}
@media (max-width: 400px){
    main figure img{
        width: 120px;
        height: 120px;
    }
    main .container .row .link, 
    main .container .row2 .link, 
    main .container .row .link2,
    main .container .row2 .link2{
        width: 14rem;
}
}
@media (max-width: 330px){
    main figure img{
        width: 80px;
        height: 80px;
    }
    main .container .row .link, 
    main .container .row2 .link, 
    main .container .row .link2,
    main .container .row2 .link2{
        width: 12rem;
        font-size: 2rem;
        height: 4rem;
}
}